.env
*.wav
*.mp3
*.csv
*.tsv
data
*.docx
*.pyc
*.json
STT_AB/etexts
create.py
.
audio_downloader/
inference_runner/
json_config/
make_db_csv/
run_all.sh
util/audio_utils.py
util/common_utils.py
util/db_utils.py
util/docx_utils.py
util/download_utils.py
util/files_utils.py
util/google_utils.py